# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Django SQLite Database
db.sqlite3

# PyCharm
.idea/

# VSCode (쓸 경우)
.vscode/

# Migrations (선택적으로 제외)
*/migrations/*.py
!*/migrations/__init__.py

# OS
.DS_Store
Thumbs.db

## environment variables
.env
